/* Estilos para el sitio web */

/*body*/

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d3d1d1;
   }



/*header*/
   header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  

  /*nav*/
  nav {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #111;
  }
  
  /*main*/
  
  main {
    padding: 20px;
  }
  
  /*footer*/

  footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }